@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

:root,
html,
body {
  height: 100%;
  background-color: hsl(210, 15%, 5%);
  color: hsl(245, 79%, 94%);

  --primary: hsl(228, 12%, 8%);
  --secondary: hsl(199, 27%, 18%);
  --text: hsl(245, 79%, 94%);

}

main {
  font-family: "Inter", sans-serif;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: 4rem;
}

li {
  list-style: none;
}

h1 {
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
}

button {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

input, input[type="email"] {
  height: 1rem;
  border-radius: 0.5rem;
  border: 0;
  background-color: hsl(245, 79%, 94%);
  padding: 0.75rem 0.75rem;
  color: hsla(223, 49%, 10%, 0.8);
  
  font-weight: 600;
  font-size: 1rem;
  
  outline-color: #4E4A60;
  outline-offset: 0px;
  outline-width: 3px;
  outline-style: solid;
  
  transition: all 100ms linear;
}

input:focus {
  outline-style: solid;
}

.form_input_valid {
  outline-color: green;
}

.form_input_invalid {
  outline-color: red;
}

.form_message_invalid {
  color: red;
}


.form-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 2rem 2.5rem;
  background-color: var(--primary);
  border-radius: 0.75rem;
  min-width: 350px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_text {
  font-weight: 400;
  font-size: 1.2rem;
  display: inline;
  padding-right: 0.3rem;
}

.form_list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_item {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form_button {
  color: var(--text);
  width: 100%;
  text-align: center;
  background-color: hsl(251, 13%, 33%);
  padding: 1rem;
  border-radius: 0.5rem;
  
}

.form_button_inactive {
  opacity: 0.6;
  cursor: not-allowed;
}

.info-container {
  min-height: 350px;
  background-color: var(--primary);
  padding: 2rem 2.5rem;
  border-radius: 0.75rem;
  min-width: 300px;
}

.info {
  padding: 4rem 0;
}

@media (max-width: 900px) {

  main {
    flex-direction: column;
    padding: 10rem 0;
    height: auto;
  }
}