@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:not(:defined) {
  visibility: hidden;
}

:root,
html,
body {
  height: 100%;
  font-family: "Quicksand", sans-serif;
  color: #F2F2F2;
  background-color: #03060E;
}

header {
  padding: 2rem;
}

main {
  display: grid; 
  place-content: center;
  gap: 2rem;
  text-align: center;
}

a {
  text-decoration: none;
  color: #F2F2F2;
  font-size: 1.5rem;
}

li {
  list-style: none;
}

.title-container {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}



.todo-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
  
.todo_item {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 0.75rem;
  border-radius: 0.5rem;
  background-color: #1C2439;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  min-width: 300px;
}

.add-button {
  font-size: 2rem;
  background-color: #1C2439;
  border-radius: 0.5rem;
}


sl-icon-button::part(base) {
  color: #F2F2F2;
}

sl-icon-button::part(base):hover {
  color: #8398E6;
}

.add-modal_form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.add-modal_name::part(form-control) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}

.add-modal_name::part(form-control-label) {
  display: flex;
  gap: 0.5rem;
}

.add-modal_name::part(form-control-input) {
  width: 100%;
}

.add-modal_submit {
  margin-left: auto;
}

.button_inactive {
  opacity: 0.6;
  cursor: not-allowed;
}


.form_message {
  color: red;
}

sl-input[data-user-invalid]::part(base) {
  border-color: red;
}

sl-input:focus-within[data-user-invalid]::part(base) {
  outline: none;
}

[data-user-invalid]::part(form-control-label) {
  color : red;
}

